@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 245, 245, 245;
  --foreground-rgb: 0, 0, 0;
  --ascent-rgb: #e4af0b;

  /* PNW Branding Stuff */
  --pnw-gold-logo: #e6b10e;
  --pnw-gold: #b1810b;
  --pnw-blue: #7ca6c0;
  --pnw-gold-light: #f7f2e6;
  --pnw-black: #000000;

  --nav-height: 4rem;
}

* {
  font-family: inherit;
}

.wrapper {
  width: 50%;
  margin-left: 25%;
}

progress {
	height: 10px;
	margin: auto;
	border-radius: 5px;
}

hr {
	border-color: #c5c5c5;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

body {
  color: rgb(64, 64, 64);
  background: rgb(var(--background-rgb));
  
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

button {
	text-decoration: none;
	outline: none;
	border: none;
}
p {
  color: rgb(64, 64, 64)
}
h1, h2, h3, h4 {
  font-family: "Helvetica";
  font-weight: bolder;
}
input:focus, textarea:focus{
  outline:solid 2px black;
}
input, button, textarea, select {
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
}
button 
{
	font-size: 1rem;
  line-height: 1.5rem;
	font-weight: 300;
  border-radius: 0.25rem;
}
input, textarea, select {
  border: 0px;
  font-weight: normal;
  background-color: rgb(var(--background-rgb));
  border-radius: 0.125rem;
}
input, textarea, select 
{
	outline: solid 1px #d1d5db;
}
select {
	padding-right: 10px;
}

button, input[type="submit"]
{
  background-color: var(--pnw-gold);
}
button:hover, input[type="submit"]:hover, button:active {
  color: rgb(64, 64, 64);
  background-color: var(--pnw-gold);
  fill: white;
  transition: 0.05s;
  color: white;
}
button:hover, input[type="submit"]:hover, select:hover{
  cursor: pointer;
}
.inputs {
  margin: auto;
  font-family: 'Azeret Mono', monospace;
}
input, textarea, button, select {
  display: block;
  width: auto;
  width: -moz-available;
  color: rgb(64, 64, 64);
  margin-bottom: 1rem;
}
input[type="submit"], button {
  background-color: #303030;
  color: white;
  font-weight: bold;
}
label
{
	display: block;
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
	color: rgb(75, 85, 99)
}
input[type="submit"][disabled], button[disabled], textarea[disabled]
{
	opacity: 0.65;
	cursor: not-allowed;
}
input, select[multiple]
{
	accent-color: var(--pnw-gold);
}
input:hover
{
	background-color: white;
}
select[multiple]
{
	width: 100%;
	padding: 4px;
	border-left: 4px solid var(--pnw-gold);
  border-radius: 0.125rem;
}

button {
  background-color: #2b2b2b;
  color: white;
  text-wrap: nowrap;
}


.horizontal-wrap {
  width: 65%;
  margin-left: calc(35%/2);
}

.container {
  background-color: white;
  border-radius: 0.125rem;
  padding: 2rem;
  /* width: fit-content; */
  height: fit-content;
}

/* Table Styling */
table.spaced
{
  padding-left: 2px;
  padding-right: 2px;
  border-spacing: 0px 14px;
  border-collapse: separate;
}
table thead {
  border-radius: 50%;
  text-transform: uppercase;
  margin: 2rem 1rem 0rem 2rem;
}
table thead tr th {
  font-size: 0.8rem;
  border-radius: 50%;
  color: rgb(100, 100, 100);
  font-weight: normal;
  text-align: left;
}
table thead tr td, table thead tr th, table tbody tr td
{
  padding: 0.75rem 0.8rem 0.75rem 0.8rem;
}
table tbody tr
{
	background-color: white;
}
table tbody tr:nth-child(odd) {
	background-color: rgb(var(--background-rgb));
}
table thead tr th:first-child, table thead tr th:first-child, table tbody tr td:first-child
{
  padding-left: 1rem;
}
table.spaced thead tr th:first-child, table.spaced thead tr th:first-child
{
  /* padding-left: 0rem; */
}
table tbody tr
{
  border-bottom: 2px solid rgb(238, 238, 238);
}
table.outline tbody tr {
  /* border-radius: 0.375rem; */
  /* border: 2px solid rgb(238, 238, 238); */
  /* text-align: left; */
}
table tbody tr td, table tbody tr th {
  font-size: 1rem;
}
/* table thead tr td:last-child, table thead tr th:last-child
{
  padding-right: 1rem;
}
table tbody tr td:first-child
{
  padding-left: 1rem;
} */
/* table tbody tr td:last-child
{
  margin-left: 20px;
} */

table tbody tr 
{
  background-color: white;
  padding-top: 4px;
  padding-bottom: 4px;
}

td > a {
  display: block;
}

li {
  list-style: disc outside none;
  display: list-item;
  margin-left: 1em;
}
img
{
	object-fit: cover;
	object-position: center;
}

progress {
  height: fit-content;
	width: 100%;
}
progress::-webkit-progress-value {background-color: rgb(105, 105, 105);}
progress::-moz-progress-bar {background-color: rgb(105, 105, 105);}
progress {color: rgb(105, 105, 105);}
progress.colored::-webkit-progress-value {background-color: var(--pnw-gold) !important;}
progress.colored::-moz-progress-bar {background-color: var(--pnw-gold) !important;}
progress.colored {color: var(--pnw-gold);}

select
{
  width: 100%;
}

.out
{
  outline: solid 2px #e5e7eb;
  border-radius: 0.125rem;
}

button.Toastify__close-button
{
  width: fit-content;
}
div.Toastify__toast-icon
{
  margin-right: 1rem;
  margin-left: 0.5rem;
}